:root {
    --gold: #c39065;
    --grey: #707070;
}

html, body{
    margin: 0;
    padding: 0;
}

hmtl * {
    box-sizing: border-box;

}

@font-face {
    font-family: joe;
    src: url(fonts/josefin-sans-v20-latin-regular.woff),
         url(fonts/josefin-sans-v20-latin-regular.woff2);
    font-weight: normal;
}
@font-face {
    font-family: joe;
    src: 
        url(../07-backery/fonts/josefin-sans-v20-latin-300.woff),
        url(../07-backery/fonts/josefin-sans-v20-latin-300.woff2);
        font-weight: lighter;
        
    
}
@font-face {
    font-family: joe;
    src: 
        url(../07-backery/fonts/josefin-sans-v20-latin-700.woff),
        url(../07-backery/fonts/josefin-sans-v20-latin-700.woff2);
        font-weight: bold;
}
body {
    font-family: joe;
    font-size: 16px;
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

img {
    max-width:100%;
    height: auto;
}


#main-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;


}

#main-header > * {
    flex: 1;
}

#main-header #logo {
    flex: 2;
}
#main-header #main-nav {
    flex: 1;
}

#main-nav {
    text-align: right;
}
#main-nav > a {
    display: inline-block;
    padding: 1em;

}
#main-nav > ul {
    display: none;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: var(--gold);
    position: absolute;
    top: 80px;
    right: 0;
    padding: 1em;
    font-size: 1.5em;
    z-index: 10;

}

#main-nav > ul.schow {
    display: block;


}
#main-nav > ul.show {
    display: block;
}

#main-nav ul li {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.325);
}

#main-nav ul li:last-child {
    border-bottom: none;
}

#main-nav ul li a {
    color: #ffff;
    text-decoration: none;
    line-height: 2em;
    text-transform: uppercase;
}
/* Tablet*/
@media screen and (min-width: 576px) {
    #main-nav > ul {
        background-color: green;
    }
}

#quality {
    position: relative;
    background-image: url(../07-backery/img/qualitaetssiegel-goldene-eichel_300.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    bottom: 75px;
}

h1{
    font-weight: lighter;
    text-align: center;
}

#products {
    display: flex;
    flex-flow: column;
    gap: 15px;
    padding: 50px;
    align-self: center;
}
.button {
    display: inline-block;
    width: 75%;
    background-color: white;
    color: var(--grey);
    border: 2px solid var(--grey);
    font-size: 1.5rem;
    padding: 0.75em 0.5em 0.75em 0.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

#footer-nav {
    background: var(--gold);
    color: white;
    text-align: center;
}

#footer-nav ul {
    list-style: none;
    padding: 2rem 0;
    margin: 0;
}

#footer-nav a {
    color: white;
    text-decoration: none;
    line-height: 2em;
}

nav#footer-nav address {
    display: none;

}
#end {
    background-color: var(--grey);
    color: #ffff;
    padding: 2.5em;
    text-align: center;

}

#end p {
    margin: 0;
}

