/* Variablen für Wiederverwendbare und schnellere Template-*/
:root {
    --rosa: #F49C9C;
    --rosa2: #ECA49C;
    --grau: #888888;
    --gruen: #89D46F;
}





/* Tag- Selektor*/
body {
    background-color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}
header {
    font-size: 16px;
    text-transform: uppercase;
}

h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 98px;
    line-height: 98px;
    color: #ECA49C;
    margin-top: 0;
    margin-bottom: 0;
}




.subtitle {
    font-size: 19px;
    color: var(rosa);
    font-weight: lighter;
}

.label {
    background-color: var(--grau);
    color: white;
    text-transform: uppercase;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 46px;
    opacity: 0.51;
    font-size: 12px;
    letter-spacing: 0.35em;
}

.left-space {
    margin-left: 27px;
}

.batch {
    background-color: black;
    color: white;
    padding: 23px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 37px;
    position: absolute;
    top: 440px;
    left: 0;
}

.color-block {
    width: 100%;
    height: 72px;
    background-color: var(--rosa);
    position: absolute;
    top: 575px;
    left: 0;

}


#image1 {
    position: absolute;
    top: 282 px;
    right: 0;
}

form button {
    background: var(--gruen);
    display: block;
    width: 100%;
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    position: absolute;
    top: 670px;
    left: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s ease;
}


button:hover {
    background-color: var(--rosa);
    font-size: 25px;
}
button:active {
    outline: 3px solid var(--rosa2);
}

button:focus {
    background-color: black ;
}
